{% extends "config/email_base.html" %}
{% block content %}
      <tr>
        <td style="padding:24px 32px 32px;">
          <p style="margin:0 0 16px;line-height:1.6;">Bonjour {{ user.get_username }},</p>
          <p style="margin:0 0 24px;line-height:1.6;">
            Vous avez demandé à réinitialiser le mot de passe de votre espace d'édition.
            Ce lien est valable deux heures.
          </p>
          <p style="margin:0 0 16px;">
            {% with href=editor_url|add:"/reinitialiser?uid="|add:uid|add:"&token="|add:token %}{% include "config/_email_button.html" with label="Choisir un nouveau mot de passe" %}{% endwith %}
          </p>
          <p style="margin:0;line-height:1.6;font-size:13px;color:#6b5a5c;">
            Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet e-mail :
            votre mot de passe reste inchangé.
          </p>
        </td>
      </tr>
{% endblock %}
